:root {
    --col: calc(calc(100% - 150px) / 7)
}

.survey-progress-bar {
    width: 300px;
    height: 5px;
    background-color: brown;
    margin: 0 auto;
    border-radius: 3px;
}

.survey-section {
    width: 70%;
    margin: 0 auto;
    font-size: 12px;
}

.survey-section-name {
    text-align: left;
    font-size: 20px;
    margin-top: 25px;
}

.survey-question-name {
    text-align: left;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.matrix-column-header, .matrix-row {
    width: 100%;
    display: grid;
    grid-template-columns: 150px var(--col) var(--col) var(--col) var(--col) var(--col) var(--col) var(--col);
}

.matrix-column-header-empty {
    min-width: 150px;
}

.matrix-column-header-item, .matrix-row-item {
    display: table;
    /* padding: 15px; */
}

.matrix-column-header-item-text, .matrix-row-item-choice {
    display: table-cell;
    vertical-align: middle;
}

.matrix-row-header {
    width: 150px;
    padding: 25px;
}

.text, .radio {
    width: 100%;
    text-align: left;
}

.text-input {
    width: 250px;
}

.radio-option {
    margin-top: 5px;
}

.radio-label {
    margin-left: 10px;
}

.radio-button {
    box-sizing: border-box;
    appearance: none;
    background: white;
    border: 3px solid white;
    background-color: #19B393;
    opacity: 0.2;
    width: 100px;
    height: 100px;
}

.radio-button:hover, .radio-button:checked {
    background-color: #19B393;
    opacity: 1;
    cursor: pointer;
}

.survey-nav-button:hover {
    cursor: pointer;
    font-weight: bold;
}

.add-participant-grid {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 150px 180px 20px;
    gap: 20px;
    width: 50%;
}

.add-participant-grid-button {
    margin-top: 4px;
    font-size: 12px;
    color: var(--SOAR-color);
}

.remove-participant-grid-button {
    margin-top: 4px;
    font-size: 12px;
    color: rgb(196, 72, 72);
}

.add-participant-grid-button:hover, .remove-participant-grid-button:hover {
    font-weight: bold;
    cursor: pointer;
}