.survey-section {
    width: 70%;
    margin: 0 auto;
}

.survey-section-name {
    text-align: left;
    font-size: 26px;
    margin-top: 35px;
    /* margin-bottom: 25px; */
}

.survey-question-name {
    text-align: left;
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 10px;
}

.matrix-column-header, .matrix-row {
    width: 100%;
    display: flex;
}

.matrix-column-header-empty {
    min-width: 200px;
}

.matrix-column-header-item, .matrix-row-item {
    flex: 1 1 250px;
    display: table;
    padding: 15px;
}

.matrix-column-header-item-text, .matrix-row-item-choice {
    display: table-cell;
    vertical-align: middle;
}

.matrix-row-header {
    min-width: 200px;
    max-width: 200px;
    padding: 25px;
}

.text, .radio {
    width: 100%;
    text-align: left;
}

.text-input {
    width: 250px;
}

.radio-option {
    margin-top: 5px;
}

.radio-label {
    margin-left: 10px;
}