.click-text:hover {
    cursor: pointer;
    font-weight: bold;
}

.notice-message {
    font-weight: bold;
    font-style: italic;
    margin: 10px;
}

.text-very-small {
    font-size: 10px;
}

.text-small {
    font-size: 12px;
}
